.trainer-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .trainer-card .trainer-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .trainer-card h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .trainer-card p {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .feedback-button {
    background-color: #5063f0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .feedback-button.submitted {
    background-color: #00ff00;
  }
  
  .feedback-button:hover {
    background-color: #4053d0;
  }
  